a{
	font-family: 'Courier New', Courier, monospace;
	margin-top: 30px;
	margin-left:6vw;
	text-decoration: none;
	font-weight: 400;
	color: rgba(0,0,0,0.8);
}

a:hover{
	color: white;
}

.header{
	position: absolute;
	width: 91vw;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.grid-container {
	display: grid;
	grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
	background-color:palegoldenrod;
	margin: -10px;
  }

  .grid-item {
	width: auto;
	height: 20vh;
	padding: 0;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
  }

  .item{
	  width: 35px;
	  height: 35px;
	  background-color:#009d53;
	  z-index: 1;
	  border-radius: 100%;
  }




@media (max-width: 1400px) { 
	.item#one{	
		transform: scale(1.5);
		background-color: white;
	}
}

@media (max-width: 1375px) { 
	.item#two{	
		transform: scale(1.5);
		background-color: white;
	}
}


@media (max-width: 1350px) { 
	.item#three{	
		transform: scale(1.5);
		background-color: white;	}
}


@media (max-width: 1325px) { 
	.item#four{	
		transform: scale(1.5);
		background-color: white;	}
}


@media (max-width: 1300px) { 
	.item#five{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 1275px) { 
	.item#six{	
		transform: scale(1.5);
		background-color: white;	}
}


@media (max-width: 1250px) { 
	.item#seven{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 1225px) { 
	.item#eight{	
		transform: scale(1.5);
		background-color: white;	}
}


@media (max-width: 1200px) { 
	.item#nine{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 1175px) { 
	
}


@media (max-width: 1150px) { 
	.item#six{	
		transform: scale(1.5);
		background-color: white;	}
}


@media (max-width: 1125px) { 
	
}

@media (max-width: 1100px) { 
	.item#seven{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 1075px) { 
	
}

@media (max-width: 1050px) { 
	.item#eight{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 1250px) { 
	
}

@media (max-width: 1025px) { 
	.item#nine{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 1000px) { 
	.item#ten{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 975px) { 
	.item#eleven{	
		transform: scale(1.5);
		background-color: white;	}
}
@media (max-width: 950px) { 
	.item#twelve{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 925px) { 
	.item#thirteen{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 900px) { 
	.item#fourteen{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 875px) { 
	.item#fifteen{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 850px) { 
	.item#sixteen{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 825px) { 
	.item#seventeen{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 800px) { 
	.item#eighteen{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 775px) { 
	.item#nineteen{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 750px) { 
	.item#twenty{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 725px) { 
	.item#twenty-one{	
		transform: scale(1.5);
		background-color: white;	}
}


@media (max-width: 700px) { 
	.item#twenty-two{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 675px) { 
	.item#twenty-three{	
		transform: scale(1.5);
		background-color: white;	}
}


@media (max-width: 650px) { 
	.item#twenty-four{	
		transform: scale(1.5);
		background-color: white;	}
}

@media (max-width: 625px) { 
	.item#twenty-five{	
		transform: scale(1.5);
		background-color: white;	}
}


@media (max-width: 600px) { 
	.box{
	}
}

@media (max-width: 575px) { 

}

@media (max-width: 550px) { 
	.box{
	}
}

@media (max-width: 525px) { 

}

@media (max-width: 500px) { 

}

@media (max-width: 475px) { 

}

@media (max-width: 450px) { 

}

@media (max-width: 425px) { 

}

@media (max-width: 400px) { 

}
